@media print and (max-width: 500px) {

  /* increase the qr code slightly */
  .qr-info img {
    width: 100% !important;
    height: unset !important;
    max-width: 150px !important;
  }

  /* printer does much better with a thicker font */
  html *
  {
    color: #000 !important;
    font-family: Arial !important;
    font-weight: bold !important;
  }

  /*
   * padding introduced extra margin when printing
   * this made things too small on the 2.25" paper
   */
  .card-body {
    padding: 0px !important;
  }

  /* dotted black lines show up better */
  .printedBarcode {
    border-top: 2px dotted black !important;
  }

  .receipt div.border-bottom {
    border-bottom: 2px dotted black !important;
  }

  .title-bar-primary {
    border-top: 2px dotted black !important;
    border-bottom: none !important;
  }

}

/* on letter paper, injected logo can get quite large */
@media (min-width: 501px) {
  .letter div img {
    max-width: 200px;
  }
}
